@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Playfair+Display:wght@400;700&family=Share:wght@700&display=swap');
body{
    color: #000;
    font-family: 'Damion', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Share', cursive;
}

.container {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
}
.header {
    padding-top: 56px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 116px;
}
.IMG-LOGO {
    width: 40px; 
    height: 40px;
}
.logo {
    padding-left: 6px;
    color: #F1F1F1;
    font-family: Damion;
    font-weight: 400;
    font-size: 30px;
}

.nav-list {
    display: flex;
    column-gap: 50px;
    font-weight: 400;
    font-size: 18px;
}

.nav-button {
    display: none;
    max-height: 50px;
    max-width: 40px;
    filter: brightness(1) invert(1);
}

.nav-link {
    font-family: Share;
    color: #F1F1F1;
}

.header-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-heading {
    margin-bottom: 15px;
    font-weight: 901;
    font-size: 48px;
    color:#F1F1F1;
    margin-left: 170px;
    font-family: Share;
}

.header-content p {
    font-size: 42px;
    color: #F1F1F1;
    font-family: Share;
    margin-left: 170px;
    margin-bottom: 150px;
}
.header-content h1 {
    font-size: 42px;
    color: #F1F1F1;
    font-family: Share;
    margin-top: -25px;
}

.water {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
}

.W {
    margin-top: 78px;
    font-size: 35px;
    font-family: Share;
    font-weight: 600;
    text-align: justify;
    margin-bottom: 15px;
}

.water p {
    font-size: 25px;
    font-family: Playfair Display;
    font-weight: 400;
    text-align: justify;
    text-indent: 60px;
    color: #000;
}



.popular-cruis {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 38px;
    font-size: 35px;
    font-family: Share;
    font-weight: 600;
}
.popular-cruis_button {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 38px;
    font-size: 35px;
    font-family: Share;
    font-weight: 600;
}
.popular-cruis_button button {
    border:3px solid black; 
    border-radius: 30px; 
    height: 50px;
}

.IMG {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 90px;
}
.img1 {
    margin-top: -77px;
    width: 677px;
    height: 269px;
}
.img2 {
    margin-top: -259px;
    margin-left: 690px;
    width: 430px;
    height: 269px;
}
.img3 {
    margin-top: 24px;
    width: 366px;
    height: 197px;
}
.img4 {
    margin-top: -186px;
    margin-left: 380px;
    width: 365px;
    height: 197px;
}
.img5 {
    margin-top: -194px;
    margin-left: 759px;
    width: 361px;
    height: 199px;
}
.service-card-img1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Share;
    font-weight: 600;
    margin-top: -55px;
    margin-left: 15px;
    white-space: nowrap;
}
.service-card-img2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Share;
    font-weight: 600;
    margin-top: -62px;
    margin-left: 705px;
    white-space: nowrap;
}
.service-card-img3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Share;
    font-weight: 600;
    margin-top: -55px;
    margin-left: 15px;
    white-space: nowrap;
}
.service-card-img4 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Share;
    font-weight: 600;
    margin-top: -60px;
    margin-left: 390px;
    white-space: nowrap;
}
.service-card-img5 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Share;
    font-weight: 600;
    margin-top: -65px;
    margin-left: 770px;
    white-space: nowrap;
}


.services {
padding: 90px 0;
}


.PMC button {
    background: yellow;
    border-radius: 30px;
    height: 32px;
    font-family: Share;
    font-weight: 550;
    border: yellow;
}
.MCruis {
    font-size: 18px;
    margin-top: 10px;
}


.cards1 {
    margin-top: 20px;
}
.cards__body {
    font-family: Share;
    font-size: 16px;
    font-weight: bold;
}
.cards__body p {
    color: #00000065;
}
.cards__row {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
}
.cards__row1 {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
}
.cards2 {
    margin-top: 50px;
}
.cards__column {
    padding: 0 7px;
    height: 361px;
}
.cards__column1_1 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__column2_1 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__column3_1 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__column4_1 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__column1 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__column2 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__column3 {
    width: 280px;
    padding: 0 7px;
    height: 361px;
}
.cards__image {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image1 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image2 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image3 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image4 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image5 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image6 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image7 {
    width: 265px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    height: 206px;
    overflow: hidden;
    position: relative;
}
.cards__image1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__image3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__image4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__image5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__image6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__image7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.company {
    margin-top: 42px;
}
.about_company {
    width: 1218px; 
    height: 70px; 
    border:1px solid yellow; 
    margin:auto; 
    background: yellow;
}
.text {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    color: #000;
    font-size: 32px;
    font-family: Share;
    font-weight: bold;
    line-height: 70px;
}
.company_text {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 25px;
    font-family: Playfair Display;
    font-weight: 400;
    color: #000;
    text-align: justify;
    text-indent: 60px;
}


.otziv {
    margin-top: 35px;
}
.otziv_font {
    width: 1425px; 
    height: 500px; 
    border:1px solid #d9d9d982; 
    margin:auto; 
    background: #d9d9d96c;
}
.otzivD_text {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 36px;
    font-family: Share;
    font-weight: bold;
    margin-top: 76px;
}
.otzivM_text {
    display: none;
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    font-size: 36px;
    font-family: Share;
    font-weight: bold;
    margin-top: 76px;
}
.otziv_name {
    max-width: 1180px;
    margin: 0 auto;
    font-size: 210px;
    font-family: Share;
    font-weight: bold;
    margin-top: 146px;
    color: white;
    margin-left: 50px;
}
.otziv1 {
    width: 400px; 
    height: 331px; 
    border:1px solid #ffffff; 
    margin:auto; 
    background: #ffffff;
    margin-top: -470px;
}
.otziv1_text {
    font-size: 17px;
    font-family: Share;
}
.otziv1_text h1 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 41px;
    margin-left: 21px;
}
.otziv1_text p {
    font-size: 17px;
    color: #707070;
    margin-left: 21px;
}
.otziv1_text a {
    font-weight: bold;
    font-size: 17px;
    color: #707070;
    margin-left: 10px;
}
.otziv1_text img {
    height: 51px;
    width: 51px;
    border-radius: 51px;
    border: 1px solid black;
    margin-left: 21px;
    margin-top: -18px;
}
.otziv2 {
    width: 400px; 
    height: 331px; 
    border:1px solid #ffffff; 
    margin:auto; 
    background: #ffffff;
    margin-top: -470px;
}
.otziv2_text {
    font-size: 17px;
    font-family: Share;
}
.otziv2_text h1 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 41px;
    margin-left: 21px;
}
.otziv2_text p {
    font-size: 17px;
    color: #707070;
    margin-left: 21px;
}
.otziv2_text a {
    font-weight: bold;
    font-size: 17px;
    color: #707070;
    margin-left: 10px;
}
.otziv2_text img {
    height: 51px;
    width: 51px;
    border-radius: 51px;
    border: 1px solid black;
    margin-left: 21px;
    margin-top: -18px;
}
.otziv_cards {
    display: flex;
    margin-left: 500px;
    column-gap: 50px;
}


.consult {
    z-index: 1;
    position: relative;
    margin-top: -30px;
}
.consult_take {
    width: 1218px; 
    height: 200px; 
    border:1px solid yellow; 
    margin:auto; 
    background: yellow;
}
.consult_take b {
    display: none;
}
.consult_take a1 {
    display: none;
}
.consult_text {
    max-width: 1180px;
    padding: 0 24px;
    margin: 0 auto;
    font-family: Share;
}
.consult_text h1 {
    margin-top: 61px;
    font-weight: bold;
    font-size: 32px;
}
.consult_take button {
    font-weight: bold; 
    font-size: 20px; 
    margin-left: 760px;
}
.consult_text p {
    font-size: 22px;
    max-width: 700px;
    margin-top: -20px;
}
.consult button {
    border: 2px solid black;
    color: black; 
    width: 309px;
    border-radius: 30px; 
    height: 50px;
}


.contact {
    max-width: 1180px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 40px;
    font-family: Share;
}
.contact h1 {
    font-weight: bold;
    font-size: 29px;
}
.contact p {
    font-size: 23px;
    line-height: 30px;
    margin-top: -20px;
}


.end {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}
.end p {
    margin-top: 15px;
    font-size: 20px;
    font-family: Share;
    font-weight: bold;
    color: #A1A1A1;
    border: 2px solid #B0B0B0;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.end b {
    margin-top: 20px;
    font-size: 20px;
    font-family: Share;
    font-weight: bold;
    color: #A1A1A1;
    margin-left: 20px;
}
.end a {
    text-align: center;
    width: 48px;
    height: 48px;
    float: left;
    border: 1px solid #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}
.instagram img {
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 24px;
}
.twitter {
    margin: 0 0 0 830px;
}
.twitter a:hover {background: #00acee;}
.instagram a:hover {background: #bc005b;}
.facebook a:hover {background: #364bd3;}



.cards_R {
    margin-top: 20px;
}



.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.logo1 {
    padding-left: 6px;
    color: #000000;
    font-family: Damion;
    font-weight: 400;
    font-size: 18px;
}
.logo1 img {
    width: 23px;
    height: 23px;
}
.modal-content h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Share;
    text-align: center;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    overflow: auto;
    margin-left: 50px;
}
.modal-body input {
    height: 30px;
    width: 380px;
    font-family: Share;
    font-weight: 400;
}
.modal-body b {
    color: #CACACA;
    font-family: Share;
    font-weight: bold;
}
.modal-body p {
    margin-top: 10px;
}
.telefon {
    margin-bottom: 45px;
}
.PMC_send {
    text-align: right;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-right: 50px;
}


.modal-dialog_send {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
    .modal-dialog_send {
        max-width: 300px;
        margin: 30px auto; /* отображение окна по центру */
    }
}
.PMC_send1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 100px;
    font-weight: bold; 
    width: 100px; 
    height: 25px; 
    border-radius: 30px;
    border: 1px solid yellow;
    background: yellow;
}
.PMC_send1 p {
    margin-left: -100px;
}
.modal-title_send {
    font-family: Share;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}


.cards1_M {
    display: none;
}
.cards2_M {
    display: none;
}
.cards3_M {
    display: none;
}
